<h1>
  Signup!
</h1>

<%= form_for :user, url: '/users' do |f| %>
<div class="form-group">
  First Name:            <%= f.text_field :first_name, class:"form-control" %>
</div>
<div class="form-group">
  Last Name:             <%= f.text_field :last_name, class:"form-control" %>
</div>
<div class="form-group">
  Email:                 <%= f.text_field :email, class:"form-control" %>
</div>
<div class="form-group">
  Password:              <%= f.password_field :password, class:"form-control" %>
</div>
<div class="form-group">
  Password Confirmation: <%= f.password_field :password_confirmation, class:"form-control" %>
</div>
<%= f.submit "Signup!", class:"btn btn-success" %>
<% end %>
</div>